@keyframes pulse{
    50% { opacity: .3; }
}

@font-face {
    font-family: 'Satoshi-Bold';
    src: url('/fonts/Satoshi-Bold.otf');
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi.otf');
}

html {
    scroll-behavior: smooth !important;
}

.icons{
    font-size: 20px;
}

@keyframes animated-hero {
	0% {
        opacity: 0;
	}
	100% {
        opacity: 1;
	}
}

@keyframes animated-hero-border {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.animated-hero:before, .animated-hero:after {
    content: "";
	position: absolute;
	left: -3px;
	top: -3px;
	background: linear-gradient(45deg, #9945FF, #5d93cf, #14F195, #9945FF, #5d93cf, #14F195);
    border-radius: 1.5rem;
	background-size: 200%;
	width: calc(100% + 7px);
	height: calc(100% + 7px);
	z-index: -1;
    opacity: 0;
	animation: animated-hero-border 20s linear infinite 2s, animated-hero 1s forwards 2s;
}

.animated-hero:after {
	filter: blur(50px);
}

@media only screen and (min-width: 600px) {
    .icons {
        font-size: 20px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .icons {
        font-size: 25px;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .icons {
        font-size: 30px;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .icons {
        font-size: 35px;
    }
}